@mixin desktop {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 749px) {
    @content;
  }
}

.section { height: 100vh;}

.section1{
    background-color: yellow;
}

.section2{
    background-color: blue;
}

.section3{
    background-color: black;
}

.section4{
    background-color: red;
}

.section5{
    background-color: orange;
}

.section6{
    background-color: green;
}

.section7{
    background-color: sandybrown;
}



@import "base/module";
@import "components/module";
@import "layout/module";
@import "utils/module";
