.u-hide { display: none; }

.u-hide-mobile { display: none; }
@include desktop {
  .u-hide-mobile { display: inherit; }
  .u-hide-desktop { display: none; }
}

.u-pull-left { float: left; }
.u-pull-right { float: right; }

.u-fixed { position: fixed; }

.u-no-margin { margin: 0; }

.u-full-width { width: 100%; }
.u-viewport-height { height: 100vh; }
