.layout { position: relative; }

.layout-top,
.layout-bottom,
.layout-left,
.layout-right,
.layout-center-x,
.layout-center-y,
.layout-center-xy {
    position: absolute;
}

.layout-top { top: 0; }
.layout-bottom { bottom: 0; }
.layout-left { left: 0; }
.layout-right { right: 0; }

.layout-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.relative {
    position: relative;
}

.layout-center-y {
    top: 50%;
    transform: translateY(-50%);
}

.layout-overall {
    z-index:1;
}

.layout-inline {
    display: inline-block;
    position: absolute;
}

.layout-all-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layout-fadein {
    animation: fadein 4.5s;
}

.layout-fade-in-down {
    opacity: 0;
    top: -40px;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

.layout-fade-in-down-complete {
    opacity: 1;
    top: 0;
}

.layout-fade-in-top {
    opacity: 0;
    margin-top: 40px;
    transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
}

.layout-fade-in-top-text {
    opacity: 0;
    margin-top: 40px;
    transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
}

.layout-fade-in-top-complete {
    opacity: 1;
    margin-top: 0;
}

.layout-toggle-color {
    transition: color 2s ease-in-out;
}

.layout-center-x.layout-center-y,
.layout-center-xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-title {
    background-color: $color-asphalt;
}

.section-about {
    background-color: $color-peter-river;
}

.section-services {
    background-color: $color-alizarin;
}

.section-people {
    background-color: $color-emerald;
}

.section-contact {
    background-color: $color-clouds;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
