.layout { position: relative; }

.layout-top, .layout-bottom,
.layout-left, .layout-right,
.layout-center-x, .layout-center-y,
.layout-center-xy {
    position: absolute;
}

.layout-top { top: 0; }
.layout-bottom { bottom: 0; }
.layout-left { left: 0; }
.layout-right { right: 0; }

.layout-center-x {
    left: 50%;
    transform: translateX(-50%);
}
.layout-center-y {
    top: 50%;
    transform: translateY(-50%);
}

.layout-inline{
    position: absolute;
    display: inline-block;
}

.layout-fadein{
    animation: fadein 4.5s;
}


.layout-center-x.layout-center-y,
.layout-center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}
