.layout { position: relative; }

.layout-top,
.layout-bottom,
.layout-left,
.layout-right,
.layout-center-x,
.layout-center-y,
.layout-center-xy {
    position: absolute;
}

.layout-top { top: 0; }
.layout-bottom { bottom: 0; }
.layout-left { left: 0; }
.layout-right { right: 0; }

.layout-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.layout-center-y {
    top: 50%;
    transform: translateY(-50%);
}

.layout-inline {
    display: inline-block;
    position: absolute;
}

.layout-fadein {
    animation: fadein 4.5s;
}

.layout-fade-in-down {
    opacity: 0;
    top: -40px;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

.layout-fade-in-down-complete {
  opacity: 1;
  top: 0;
}

.layout-toggle-color {
    transition: color 3s ease-in-out;
}

.layout-center-x.layout-center-y,
.layout-center-xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
