.firstpage{
    background-color: $color-dark-gray;
    background-size: cover;
}

.firstpage-logo {
     position: absolute;

     @include desktop {
         margin: 5rem 0px 5rem 0px;

         width: 30rem;
         height: 30rem;
     }

     @include mobile {
         margin: 10rem 0px 10rem 0px;

         width: 20rem;
         height: 20rem;
     }
    transition: 1s;
 }

.firstpage-logo-section {
    @include desktop {
        -webkit-filter: sepia(100%) drop-shadow(5px 5px 5px $color-dark-gray);
        filter: sepia(100%) drop-shadow(5px 5px 5px $color-dark-gray);

        left: 2%;
        top: 60%;
        transform: scale(0.3, 0.3);
        -webkit-transform: scale(0.3, 0.3);
        transform-origin: 0 0;
    }
    @include mobile {
        opacity: 0;
    }
}
