$navbar-height: 64px;

.navbar {
    height: $navbar-height;

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            float: right;

            > a {
                color: $color-text;
                text-align: center;
                text-decoration: none;

                padding: 0 16px;
                display: inline-block;
                line-height: $navbar-height;

                &:hover {
                    color: $color-primary;
                    background-color: $color-black;
                }
            }
        }
    }
}
