$navbar-height: 64px;
$navbar-margin-right: 30px;
$navbar-margin-top: 20px;

.navbar {
    height: $navbar-height;
    font-family: $navbar-font-family;

    > ul {
        list-style-type: none;
        padding: 0;
        margin-right: $navbar-margin-right;


        > li {
            float: right;
            margin-right: $navbar-margin-right;
            margin-top: $navbar-margin-top;

            > a {
                color: $color-white;
                text-align: center;
                text-decoration: none;

                @include desktop {
                    font-size: 1.2em;
                    padding: 0 16px;
                }

                @include mobile {
                    font-size: 0.7em;
                    padding: 0 0.1rem;
                }


                display: inline-block;
                line-height: $navbar-height;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}
