$navbar-height: 64px;
$navbar-margin-right: 30px;
$navbar-margin-top: 20px;

.navbar {
    height: $navbar-height;

    > ul {
        list-style-type: none;
        padding: 0;
        margin-right: $navbar-margin-right;


        > li {
            float: right;
            margin-right: $navbar-margin-right;
            margin-top: $navbar-margin-top;

            > a {
                color: $color-white;
                text-align: center;
                text-decoration: none;

                padding: 0 16px;
                display: inline-block;
                line-height: $navbar-height;

                &:hover {
                    color: $color-primary;
                    animation: fadein 0.5s;

                }
            }
        }
    }
}

@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}
